*{
    box-sizing: border-box; /**/  
}
body {
    margin: 0; /*margen*/  
    font-family: 'Roboto', sans-serif; /*fuente de letra*/  
    background-color: #2a3131;
}

.buscador {
	margin-top: 20px;
}
	form {
		padding: 50px 55px 85px 55px;
		box-shadow: 10 0 10px rgba(0, 0, 0, 0.682);
		/*border-radius: 20px;*/
		text-align: center;
		width: 340px;
	}
	.input-group{
		display: flex;
		flex-direction: column;
		text-align: left;
	}
	
	h2 {
		color:#000000d2 ;
		font-size: 35px;
		margin: 0;
		
	}
	
	p {
		font-size: 16px;
		color: #000000d1;
		margin-bottom: 20px;
	   
	}
	
	.line{
		display: inline-block;
		width: 50px;
		height:7px;
		background: linear-gradient(
		90deg,
		rgba(214,0,254,1)0%,
		rgba(136,1,254,1)77%);
	}
	
	label {
		color: #000000e6;
		font-size: 15px;
		font-weight: 600;
		margin-bottom: 15px;
	}
	
	input {
		padding: 17px 10px;
		border-radius: 10px;
		margin-bottom: 20px;
		border: 2px solid #ededed;
		color: #110e0e;
		outline: none;
	}
	
	input::placeholder {
		color: #1e1a1a93 ;
	}
	
	.form-txt {
		margin-bottom: 60px;
		display: flex;
		justify-content: space-between;
		text-align: center;
	}
	
	.enlaces {
		margin-bottom: 30px;
		justify-content: space-between;
	
	}
	
	.btn {
		font-size: 16px;
		color: #ffcfff;
		border: 0;
		border-radius: 25px;
		background:linear-gradient(
		90deg,
		rgba(214,0,254,1)0%,
		rgba(136,1,254,1)77%);
		box-shadow: 0 0 10px rgba(136,1,254,1);
		cursor: pointer;
	} 
	 
	.btn:hover {
		background:linear-gradient(
		90deg,
		rgba(136,1,254,1)0%,
		rgba(214,0,254,1)77%);
	
	}
	
	@media(max-width:991px){
		body {
			padding: 30px;
		}
	
		form {
			padding: 50px 30px;
			width: 100%;
		}
	
		input {
			padding: 15px 10px;
		}
	}
	
	